.VideoCall {
    width: 100%;
    height: 100%;
}

.VideoRow {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;    
}

.VideoColumn {
    flex: 1;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.VideoSection {
    flex: 1;
    
    width: calc(100% - 2px);
    height: calc(100% - 2px);

    border: solid 1px lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.Video {
    width: 100%;
    object-fit: contain;
}