.ChatWrap {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.ChatFooter {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.ChatBody {
    height: calc(100vh - 47px - 10vh - 4px);
    /* 100% - Page Header - Chat Header & Footer - Header & Footer border */

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}



.ChatInput {
    flex: 1;
    margin-left: 2vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;

    height: 3vh;

    border: none;
    border-radius: 3vh;

    background-color: #44444411;

}

.ChatSpacer {
    margin-top: auto;
}

.ChatCell {
    display: flex;
    flex-direction: row;

    height: 7vh;
    border-top: solid 1px lightgray;
}

.MyChatCell {
    display: flex;
    flex-direction: row-reverse;

    height: 7vh;

    border-top: solid 1px lightgray;
}

.MyChatCell:hover,
.ChatCell:hover {
    background-color: #AAAAAA11;
}

.ChatCell .Profile,
.MyChatCell .Profile {
    height: 7vh;
    width: 7vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImg {
    border: solid 1px lightgray;

    width: 80%;
    height: 80%;

    border-radius: 7vh;
}

.ChatInfo {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.ChatSendInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MyChatSendInfo {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.Sender {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.SendTime {
    padding: 5px;
    font-size: 12px;
    color: gray;
}

.ChatMsg {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    flex: 1;
    width: calc(100% - 30px);
    text-align: start;
}

.MyChatMsg {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    flex: 1;
    width: calc(100% - 30px);
    text-align: end;
}