.ChatWrap {
    flex: 1;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.ChatFooter {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.ChatBody {
    flex: 1;

    height: calc(100% - 50px);

    display: flex;
    flex-direction: column;

    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    
}

.TopSpacer {
    flex: 1;
}

.ChatInput {
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

    height: 27px;

    border: none;
    border-radius: 30px;

    background-color: #44444411;

}

.ChatCell {
    display: flex;
    flex-direction: row;

    height: 70px;
    border-top: solid 1px lightgray;
}

.MyChatCell {
    display: flex;
    flex-direction: row-reverse;

    height: 70px;

    border-top: solid 1px lightgray;
}

.MyChatCell:hover,
.ChatCell:hover {
    background-color: #AAAAAA11;
}

.ChatCell .Profile,
.MyChatCell .Profile {
    height: 70px;
    width: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImg {
    border: solid 1px lightgray;

    width: 80%;
    height: 80%;

    border-radius: 100%;
}

.ChatInfo {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.ChatSendInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MyChatSendInfo {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.Sender {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.SendTime {
    padding: 5px;
    font-size: 12px;
    color: gray;
    padding-bottom: 0px;
}

.ChatMsg {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    flex: 1;
    width: calc(100% - 30px);
    text-align: start;
}

.MyChatMsg {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    flex: 1;
    width: calc(100% - 30px);
    text-align: end;
}