#listViewer {
    width: 100%;
    height: 100%;
    border-right: solid 1px lightgray;

    display: flex;
    flex-direction: column;
}

#listWrap {
    flex: 1;
    max-height: calc(100vh - 50px - 60px); /* header 및 select 버튼 제외*/
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.listCell {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 5px;

    height: calc(7vh + 2px);
    max-height: calc(100px + 2px);
    border: solid 1px lightgray;
    border-radius: 15px;
}

.subCell:hover {

    background-color: #AAAAAA22;
}

.selectedListCell {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 5px;

    height: calc(7vh + 2px);
    max-height: calc(100px + 2px);
    border: solid 1px lightgray;
    border-radius: 15px;
    background-color: #AAAAAA33;
}

.subCell {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
}

.listCellImg {
    width: 6vh;
    height: 6vh;
    margin: 0.5vh;

    max-height: calc(75px + 2px);
    max-width: calc(75px + 2px);

    border: solid 1px lightgray;
    
    border-radius: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listCellInfo {
    height: calc(100% - 20px);
    padding: 10px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
}

.listCellTitle {
    padding-left: 10px;
    padding-bottom: 0.5vh;
    border-bottom: solid 1px lightgray;
}

.listCellComment {
    flex: 1;
    padding-top: 3px;
    padding-left: 10px;

    overflow-wrap: break-word;
    overflow-y: hidden;
}

#listSelectWrap, #listHeader {
    width: 100%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.listSelectBtn {
    flex: 1;

    border: none;
    background-color: #00000000;
}

.listIcon, .selectedListIcon {
    width: 2vh;
    height: 2vh;
    padding: 1vh;
    border-radius: 1vh;
}

.listIcon:hover, .selectedListIcon {
    background-color: #44444444;
}

.listCellOption {
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #00000000;
}

.listCellOption:hover {
    background-color: #AAAAAA22;   
}

#FriendAddWrap {
    width: 18vw;
    padding: 2vh;
    border: solid 2px lightgray;
    border-radius: 2vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}

.inputWrap label {
    flex: 1;
}


.inputWrap input {
    flex: 4;
    height: 2.5vh;
    border: solid 1px gray;
    border-radius: 3vh;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

#FriendsAddBtn{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    height: 2.5vh;
    
    border: none;
    border-radius: 3vh;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

#FriendsAddBtn:hover, .newChatMsg button:hover {
    background-color: #6495EDEE;
}

.newChatMsg {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.newChatMsg b {
    padding-bottom: 5px;
}

.newChatMsg button {
    width: 80%;

    height: 2.5vh;
    
    border: none;
    border-radius: 3vh;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

.optionBtnWrap {
    padding: 5px;
    border-radius: 5px;
    border: solid 2px lightgray;
    
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.optionBtn {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;

    color: coral;
    background-color: white;
    font-weight: bold;
    border: none;
}

.optionBtn:hover {
    background-color: #AAAAAA22;      
}

.chatTitleInput {
    width: calc(80% - 4vh);
    height: 2.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    
    border: solid 1px lightgray;
    border-radius: 3vh;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}