#listViewer {
    height: 100%;
    border-right: solid 1px lightgray;
}

#listContents {
    height: 100%;

    display: flex;
    flex-direction: column;
}

#listHeader {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#listSelectWrap, #listHeader2 {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#listWrap {
    height: calc(100vh - 50px - 100px - 2px); /* Page Header 및 List Header & Footer, Border Width*/
    display: flex;
    flex-direction: column;

    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

#listCellWrap {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

#FriendAddWrap {
    width: 205px;
    padding: 20px;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputWrap label {
    margin-left: 10px;
    margin-right: 10px;
}

.inputWrap input {
    flex: 1;
    height: 20px;
    border: solid 1px gray;
    border-radius: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#FriendsAddBtn{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    height: 25px;
    
    border: none;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

#FriendsAddBtn:hover, .newChatMsg button:hover {
    background-color: #6495EDEE;
}

.newChatMsg {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.newChatMsg b {
    padding-bottom: 5px;
}

.newChatMsg button {
    width: 80%;

    height: 25px;
    
    border: none;
    border-radius: 30px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

.chatTitleInput {
    width: calc(80% - 20px);
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    
    border: solid 1px lightgray;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}